<h1> Products </h1>

<p>Welcome, {{user.first_name}} {{user.last_name}}!</p>

{{#each products}}
<div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Price: ${{price}}</p>
    <p>Category: {{category}} </p>
    <form action="/api/carts/{{../cartId}}/product/{{_id}}" method="POST">
    <button class="btnMios" type="submit"> Add to Cart </button>
    </form>
</div>
{{/each}}


{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> Next </a>
{{/if}} 
{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> Previous </a>
{{/if}}

<p>Page {{currentPage}} of {{totalPages}} </p>